.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
  padding: 3rem 0 4rem;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.footerContainer_titles {
  font-weight: 700;
  text-align: left;
}

.footerContainer_text {
  color: #949494;
  font-weight: 100;
  text-align: left;
  padding-top: 0.8rem;
}
